<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
	<link rel="stylesheet" href="../static/style.css">
</head>
<body>
	<div class="pointer"></div>
	<div class="nav">
		<div class="logo">
			<h1 title="Interface College of Computer Application">ICCA</h1>
		</div>
		<div class="navItem">
			<li><h2>Home</h2></li>
			<li><h2>website</h2></li>
			<li><h2>College</h2></li>
		</div>
	</div>
	<div class="page1" style="background-color: crimson;">
		<div id="greeting">Welcome to ICCA Chatbot</div>
		<div class="content">
			<div class="left">
				<ol>
					<li>AI powered Chat-bot</li>
					<br>
					<li>Easy to use</li>
					<br>
					<li>Automated response</li>
					<br>
					<li>Easy to scalabale</li>
				</ol>
			</div>
			<div class="right">
				<ol start="5">
					<li>Cluster level sentiment analysis</li>
					<br>
					<li>Available 24X7</li>
					<br>
					<li>Business API sevices </li>
					<br>
					<li>Easy to Integrate</li>
				</ol>
			</div>
		</div>
	</div>
	<div class="page2" style="background-color: seagreen;">
		<div id="greeting">AI Powered chat-bot</div>
	</div>
	<div class="page3" >
		<div id="greeting">To check our embeded chat-bot you can go with this</div>
		<div class="p3Content">
			<div class="left"></div>
			<div class="left"></div>
		</div>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/ScrollTrigger.min.js" integrity="sha512-onMTRKJBKz8M1TnqqDuGBlowlH0ohFzMXYRNebz+yOcc5TQr/zAKsthzhuv0hiyUKEiQEQXEynnXCvNTOk50dg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script src="../static/script1.js"></script>
	<script src="https://cdn.botpress.cloud/webchat/v1/inject.js"></script>
<script src="https://mediafiles.botpress.cloud/f9409882-03a7-4978-9822-808623689129/webchat/config.js" defer></script>
	</body>
</html>