
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Sign Up</title>
  <link rel="stylesheet" href="../static/signUp.css">
  <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>     
  <!-- <script src="../static/script1.js" defer></script> -->
  <script src="../static/signup.js" defer></script>

</head>

<body>
  <div class="signup-container">
    <h1>Chat-BOT</h1>
    <div class="formParent">
      <div class="imgForm"></div>
    
    <form class="signup-form" id="login-form">
      <h2>Log in</h2>
      <input type="text" name="User" placeholder="Username" required>
      <input type="password" name="password" placeholder="Password" required>
      <a href="" target="_blank" id="loginA"><input type="submit" id="login" value="Login" style="margin-top: 4%;"></a>
      <label style="position: absolute; bottom: 10px; left: 70%; transform: translateX(-50%);"><a href="/signup">sign Up</a></label>
      <label id="frgt" style="position: absolute; bottom: 10px; left: 20%;"><a href="">Forgot Password</a></label>
    </form>

  </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.5/gsap.min.js" integrity="sha512-7eHRwcbYkK4d9g/6tD/mhkf++eoTHwpNM9woBxtPUBWm67zeAfFC+HrdoE2GanKeocly/VxeLvIqwvCdk7qScg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

</body>

</html>